* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ccc;
}

h2 {
    text-align: center;
    font-family: 'Allura', cursive;
    margin: 0;
    font-weight: bold;
    font-size: 46px;
    margin: 20px 0;
}

.wow {
    visibility: hidden;
}

/*#region Language Box */

.language-box .language-flag {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 5px;
}

.language-box .language-flag img {
    border: 1px solid #ccc;
    transition: 0.5s;
}

.language-box .language-flag img:hover {
    opacity: 0.8;
}

/*#endregion*/

/*#region INTRO */

.intro-container {
    background: rgba(107, 107, 107, 1);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.intro-container .restaurant-logo {
    min-width: 300px;
    max-width: 500px;
    padding: 20px;
    cursor: pointer;
    border: 2px solid #000;
    transition: 0.5s;
}

.intro-container .restaurant-logo:hover {
    border: 2px solid #ccc;
}

.intro-container .language-box {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 50px;
}

.intro-container .language-box .language-flag {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 5px;
}

.intro-container .language-box .language-flag img {
    border: 1px solid #ccc;
    transition: 0.5s;
}

.intro-container .language-box .language-flag img:hover {
    opacity: 0.8;
}

/*#endregion INTRO */

/*#region Main Page*/

/*#region Page Header */

.main-page header {
    background-color: black;
    padding: 20px;
    position: relative;
}

.main-page header h1 {
    font-family: 'Allura', cursive;
    word-spacing: 0.5em;
    margin: 0;
    color: white;
    text-align: center;
}

.main-page header .language-box {
    position: absolute;
    top: calc(50% - 16px);
    right: 50px;
}

/*#endregion*/

/*#region Main Menu */

.main-page .main-menu {
    background-color: #ccc;
    padding: 10px 0;
}

.main-page .main-menu a {
    display: block;
    color: #000;
}

.main-page .main-menu a:hover {
    /* text-decoration: underline; */
}

.main-page .main-menu .menu-section {
    background-color: white;
    padding: 25px;
    margin: 20px 0;
    cursor: pointer;
    transition: 0.5s;
}

.main-page .main-menu .menu-section:hover {
    box-shadow: 0px 0px 15px #666;
    transform: scale(1.1);
}

.main-page .main-menu .menu-section .menu-section-img img {
    width: 100%;
    height: auto;
}

.main-page .main-menu .menu-section h4 {
    margin: 0;
    text-align: center;
    margin-top: 20px;
}

/*#endregion */

/*#region Appetizers Section */

.menu-list .menu-list-title {
    padding: 20px 0;
}

.menu-list .menu-list-container {
    background-color: white;
    padding: 30px;
}

.menu-list .menu-list-container h3 {
    font-family: 'Allura', cursive;
    line-height: 1em;
    font-size: 44px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.menu-list .menu-list-container .price::before {
    content: ' - ';
}

.menu-list .dish-details {
    margin: 10px;
}

.menu-list .dish-details h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    display: inline-block;
}

.menu-list .dish-details h4:hover {
    text-decoration: underline;
}

.menu-list .dish-details .ingredients {
    margin: 0;
}

.menu-list .dish-details .allergens {
    font-size: 13px;
    font-style: italic;
}

/*#endregion*/

/*#region Dish Composition */

.dish-composition {
    display: none;
}

/*#endregion*/

/*#region Footer*/

.main-page footer {
    padding: 20px;
    background-color: #000;
}

.main-page footer p {
    text-align: center;
    color: white;
    margin: 0;
}

/*#endregion */

/*#endregion */